.statistics {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    max-width: 480px;

    margin: 0 auto;
    
    background-color: rgb(123, 172, 123, 0.5);
}

.title {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 36px;
    
}

.statlist {
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    justify-content: space-around;
}

.item {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding: 15px;

    font-size: 24px;
}

.label {
    margin-bottom: 10px;
    
}